.coverAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:0;
    z-index: 10;
    padding: 0.2rem;
    color: black; /* Asegúrate de que el texto sea visible */
    min-height: 100vh; /* Asegura que ocupe al menos la altura completa de la pantalla */
    /* width: 80vw; */
  }
.aboutContainer {
    left:0;
    margin-top:5%;
    width: 100%;
    display: flex;
    align-items: center;
    
  }
  .about-h1 {
    font-size: 3.5em;
  }
  @media (max-width: 1200px) {
    .aboutContainer {
      min-width: 80%;
      max-width: 95%;
    }
  }
  @media (max-width: 920px) {
    .aboutContainer {
      min-width: 80%;
      max-width: 95%;
    }
    .about-h1 {
        font-size: 2.5em;
        
      }
  }
